* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
  }


  .navbar {
    background: #303C6C;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    
}

.navbar__container {
  display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 50px;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2)
}

#navbar__logo {
  background-color: #303C6C;
  background-image: linear-gradient(to top, #FFDAB9 0%, #303C6C 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: white;
  -moz-text-fill-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}


.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2)
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
  
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #303C6C;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  color: #fff;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #FFDAB9;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: whitesmoke;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #131313;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
  
/* Hero Section */
.hero{
 
  background: #9c9595;
  background: linear-gradient(to right #161616, #000000);
  padding: 200px 0;
  display: flex;
  justify-content: center;
  /* position: relative; */
  background-image: url(https://i.ibb.co/NCNYD10/skyline.jpg) ;
  background-size: 100% 100%;

  background-blend-mode: hard-light;
}

.hero__container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1px ;
  align-items: center;
  justify-content: left;
  margin: 100px;
  height: 50vh;
  max-height: 1200px;
  z-index: 1;
  width: 100%;
  max-width: 2000px;
  padding: 0 20px;
  position: relative;
}

.hero__content{
  color: #fff;
  width: 100%;
 
}


.hero__heading{
  font-size: 50px;
  margin-bottom: 45px;
  color: #fff;
 
  
}
/* .pic{
 width: 100%;
 height: auto;
 z-index: 0;
} */



.hero__heading span{
  background: #EB5757;  
  background: -webkit-linear-gradient(to right, #000000, #EB5757);  
  background: linear-gradient(to right, #000000, #EB5757); 
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -mo-text-fill-color: transparent;
  z-index: 999;
}

.hero__description{
  font-size: 21px;
  background: black;  
  background: -webkit-linear-gradient(to right, #000000, #BF211E);  
  background: linear-gradient(to right, #000000, #BF211E); 
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -mo-text-fill-color: transparent;
  z-index: 999;
  /* border: 10px solid #73AD21 ; */

}

.highlight{
  border-bottom: 4px solid rgb(132,0,255);
}

@media screen and(max-width: 768px){
  .hero__heading{
    font-size: 60px;

  }

  .hero__description{
    font-size: 20px;
  }
}

/* About Section */

.main{
  background-color: #FCFFF5;
  padding: 200px 0;
  height: 50%;
  display: table;
}

.main__container{
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  padding: 0 70px;
  /* margin: 5px 100px; */
  align-items: center;
  justify-content: center;
}

.main__content{
  color: #4C4C6D;
  width:50%;
}

.main__content h1{
  font-size: 2rem;
  background-color: #FAAE3D;
  background-image: linear-gradient(to top, #FAAE3D 0%, #FCCF31 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 16px;
  margin: 0 auto 1rem;
}

.main__container h2{
  font-size: 30px;
  background: #FCFFF5;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -mo-text-fill-color: transparent;
}

.main__content p{
  margin-top: -32px;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 700;
  border: #FAAE3D;
  width: 90%;
  text-align: justify;
}

.main__btn{
  font-size: 1.8rem;
  background: #4C4C6D;
  background: -webkit-linear-gradient(to right, #4C4C6D, #B9C9A6);
  background: linear-gradient(to right, #4C4C6D, #B9C9A6);
  padding: 20px 60px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main__btn a{
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.main__btn:after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #333774;
  transition: all 0.35s;
  border-radius: 4px;
}

.main__btn:hover{
  color: #fff;
}

.main__btn:hover:after{
  width: 100%
}

.main__img--container{
  text-align: center;
}

.main__img--card img{
  margin: 100px;
  height: 300px;
  /* width: 300px; */
  max-width:fit-content;
  border-radius: 70px;
}


/* Mobile Responsive */

@media screen and (max-width: 1100px){
  .main__container{
    display: grid;
    grid-template-columns: 1fr ;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%
  }
  .main__img--container{
    display: flex;
    justify-content: center;

  }

  .main__img--card{
    height: 425px;
    width: 425px;
  }

  .main__content{
    text-align: center;
    margin-bottom: 4rem;
  
  }

  .main__content h1{
    font-size: 2.5rem;
    margin-top: 2rem;

  }

  .main__content p{
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 480px){
  .main__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main__img--card{
    width: 250px;
    height: 250px;
    margin-bottom: 2rem;

  }

  .fa-users, .fa-layer-group{
    font-size: 4rem;
    margin-top: 3rem;
  }

  .main__content h1{
    margin-top: 2rem;
    margin-top: 2rem;
    
  }

  .main__content h2{
    margin-top: 2rem;
    
  }

  .main__content p{
    margin-top: 2rem;

  }

  .main__btn{
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
}

/* projects section */

.projects {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10rem 1rem;
 
  /* border: 10px solid #73AD21; */
}

.projects h1 {
  background-color: #000000;
  background-image: linear-gradient(to right, #ff0844 0%, #f7673c 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom:2rem;
  font-size: 2.5rem;
 
}

.projects__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  overflow-x: auto;
  margin: 0 auto;

  
}
 
.projects__card {
  margin: 20px;
  height: 425px;
  width: 100%;
  max-width: 270px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background: #d8c3f3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #44318d, #8b5fbf, #d8c3f3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #44318d, #8b5fbf, #d8c3f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: 0.3s ease-in;
}



.projects__card:nth-child(2){
 

  background: #c56aa0; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c56aa0, #342ead); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c56aa0, #342ead); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: 0.3s ease-in;
}

.projects__card:nth-child(3){

  background: #f8c0d0; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f8c0d0, #d85a7f); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f8c0d0, #d85a7f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: 0.3s ease-in;
}

.projects__card:nth-child(4){

  background: #a97acc; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a97acc, #6e63a6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a97acc, #6e63a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: 0.3s ease-in;
}

.projects__card h2{
  text-align: center;
  margin-top: 1rem;
 
}

.projects__card b {
  text-align: center;
  margin-top: 1rem;
  font-size: 20px;
  /* z-index: -1; */
  color: #0e0a11;
}

.projects__card p {
  text-align: center;
  margin-bottom: 8rem;
  font-size: 18px;
  z-index: -1;
  color: #050005;
  margin: 0 1rem;
}

/* .projects__btn{
  display: flex;
  justify-content: center;
  margin-top: 16px;
} */

/* .projects__card button{
  color: #fff;
  padding: 14px 24px;
  outline: none;
  border-radius: 4px;
  background: #131313;
  font-size: 1rem;
  border-radius: 0;
  border-color: #131313;
  
}

.projects__card button:hover{
  cursor: pointer;
  transform: scale(1.075)
} */

.projects__card:hover {
  transform: scale(1.075);
  /* opacity: 0; */
  /* transition: opacity 2s; */
  cursor: pointer;
}

.projects__card:hover b{
  /* transform: scale(1.075); */
  opacity: 0;
  /* transition: opacity 2s; */
  cursor: pointer;
  
}


/* .projects__card:hover p{
  transform: scale(1.075);
  opacity: 0;
  transition: opacity 2s;
  cursor: pointer;
  margin-bottom: 2rem;
  
} */


/* .projects__card:hover h2{
  text-align: center;
  margin-bottom: 3rem;
  
} */

@media screen and (max-width: 1300px){
  .projects__wrapper{
    grid-template-columns: 1fr 1fr;
    /* overflow-x: scroll; */

    /* grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr)); */
   
  }


}

@media screen and (max-width: 900px) {
    .projects__wrapper{
      grid-template-columns: 1fr;
    }
  
}

/* contact page */





/* Footer CSS */
.footer__container{
  background-color: #131313;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer__logo{
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;

}

.footer__link{
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}
.footer__link--wrapper{
  display: flex;
}

.footer__link--items{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}


.footer__link--items h2{
  margin-bottom: 16px;
  color: #fff;
}

.footer__link--items a{
  color: #fff;
  text-decoration: none;
  margin: 0.5rem;
  transition: 0.3 ease-out;


} 

.footer__link--items a:hover{
  color: #e9e9e9;
  transition: 0.3 ease-out;
} 

.social__icon--link {
  color: #fff;
  font-size: 24px;
}

.social__media {
  max-width: 1000px;
  width: 100%;
}

.social__media--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}
.website__rights{
  color: #fff;
}

@media  screen and (max-width: 820px) {
  .footer__link{
    padding-top: 2rem;
  }
  #footer__logo{
    margin-bottom: 2rem;

  }
  
  .website__rights{
    margin-bottom: 2rem;

  }

  .footer__link--wrapper{
    flex-direction: column;

  }

  .social__media--wrap{
    flex-direction: column;
  }


}


@media screen and (max-width:480px) {

  .footer__link--items{
    margin: 0;
    padding: 10px;
    width: 100%;
  }
  
}